/ChargeMinion.class
/ChefDeRaid.class
/ChevaucheurDeLoup.class
/LifeStealMinion.class
/Minion.class
/MinionDecorator.class
/Reflet.class
/SanglierBrocheroc.class
/SoldatDuCompteDeLOr.class
/TauntMinion.class
/YetiNoroit.class
/RecrueDeLaMainDArgent.class
